.footer ul {
  max-width: 640px;
  margin: 0em auto;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
}

footer ul li {
  list-style: none;
  align-self: flex-end;
}

footer ul li a {
  text-decoration: none;
  color: #c1c6ce;
}

footer p {
  font-size: 0.8em;
}
.footer {
  height: 50px;
  flex-shrink: 0;
}